src/server/uploads
src/server/venv

src/server/ZFNETModelV6.h5
src/server/emotion_timeline.json
src/server/analysis_data.json
src/server/daily_emotion_timeline.json
src/server/weekly_combined_results.json
src/server/weekly_emotion_timeline.json
src/server/orig-main.txt
src/server/.env

src/client/.env.local
src/client/.env
src/client/node_modules

__pycache__/
*.pyc
*.env

src/server/.venv/
src/server/.python-version
src/server/get-pip.py
