.scoped-page .daily-container,
.scoped-page .weekly-container {
  margin: -950px;
  margin-left: -470px;
  margin-top: -270px;

  padding-left: 20px;
}

.scoped-page .page-header {
  padding-top: 10px;
}

.page-header {
  padding-top: 10px; /* Adjust as needed */
}

.daily-container,
.weekly-container {
  text-align: center;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 19px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 900px;
  max-width: 1000px;
  margin-top: 20px;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  height: 520px;
  border: 3.5px solid rgb(0, 0, 0);
  position: fixed;
  transform: translateY(30px);
  animation: easeInAnimation 0.8s ease-in forwards;
}
.weekly-container h2 {
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: -30px;
  text-align: center;
  background-color: #3498db;
  width: 1000px;
  color: white;
  height: 36px;
  line-height: 30px; /* Centers text vertically */
  border-bottom: 3.5px solid #000000; /* Adds a border line at the bottom */
  margin-left: -40px;
  margin-right: auto; /* Centers the element horizontally */
  border-top-left-radius: 21px; /* Rounds the top-left corner */
  border-top-right-radius: 21px; /* Rounds the top-right corner */
}

.daily-container h2 {
  font-size: 16px;
  margin-bottom: 6px;
  margin-top: -30px;
  text-align: center;
  background-color: #3498db;
  width: 1000px;
  color: white;
  height: 36px;
  line-height: 30px; /* Centers text vertically */
  border-bottom: 3.5px solid #000000; /* Adds a border line at the bottom */
  margin-left: -40px;
  margin-right: auto; /* Centers the element horizontally */
  border-top-left-radius: 21px; /* Rounds the top-left corner */
  border-top-right-radius: 21px; /* Rounds the top-right corner */
}

.toggle-view-button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 16px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-view-button:hover {
  background-color: #365f9c;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.data-table th {
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.data-table .clickable-entry {
  cursor: pointer;
  transition: background-color 0.3s;
}

.data-table .clickable-entry:hover {
  background-color: #f1f1f1;
}
.dropdown-button {
  box-shadow: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  color: #171717;
  border: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #ddd;
  font-family: poppins;
  font-size: 12px;
  height: 35px;
}

.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 5px 0;
  margin-top: 5px;
  z-index: 1000;
  color: #000000;
  box-shadow: none;
  outline: none;
}

.dropdown-menu button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  background: none;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  text-align: left;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

.info-card {
  width: 700px; /* Set a fixed width */
  max-width: 90%; /* Ensure responsiveness on smaller screens */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: auto;
  max-height: 100vh;
  border: 3.5px solid rgb(0, 0, 0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.clickable-entry {
  cursor: pointer;
}

.clickable-entry:hover {
  background-color: #f0f0f0;
}